<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Shortcuts</key>
	<dict>
		<key>nowp.playpause.hotkey</key>
		<string></string>
		<key>nowp.prevtrack.hotkey</key>
		<string></string>
		<key>nowp.nexttrack.hotkey</key>
		<string></string>
		<key>nowp.volumeup.hotkey</key>
		<string></string>
		<key>nowp.volumedown.hotkey</key>
		<string></string>
		<key>now.mute.hotkey</key>
		<string></string>
	</dict>
	<key>v</key>
	<string>1.5</string>
	<key>General</key>
	<dict>
		<key>need_lyrics</key>
		<true/>
		<key>need_share</key>
		<true/>
		<key>font_size</key>
		<integer>13</integer>
		<key>font_name</key>
		<string>Futura</string>
		<key>font_color</key>
		<string>#FFFFFF</string>
		<key>ask_when_prefs_close</key>
		<true/>
		<key>allow_control</key>
		<false/>
		<key>tag_lyrics_current</key>
		<true/>
		<key>tag_artwork_current</key>
		<true/>
		<key>run_at_startup</key>
		<false/>
		<key>vk_status_policy</key>
		<integer>0</integer>
		<key>lf_allow_search_covers</key>
		<false/>
	</dict>
	<key>Accounts</key>
	<dict>
		<key>LastFM</key>
		<dict>
			<key>appID</key>
			<string>842f9a0390954bf47248f25a44adfba9</string>
		</dict>
		<key>Twitter</key>
		<dict>
			<key>appID</key>
			<string>OuPD9mLkC38QbIf2DSVw</string>
		</dict>
		<key>Facebook</key>
		<dict>
			<key>appID</key>
			<string>349274525203295</string>
			<key>scope</key>
			<string>user_status,publish_stream</string>
		</dict>
		<key>VK</key>
		<dict>
			<key>scope</key>
			<string>66570</string>
			<key>appID</key>
			<string>3806400</string>
		</dict>
	</dict>
</dict>
</plist>
